@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Slab&display=swap');

body{
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    background-image: url(../images/arena-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


#intro-tutorial{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #fffcf0;
}

#left-attack {
    float: left;
    padding: 1px;
    border: 5px solid black;
    margin: 1em 0 0 0;
    height: 10em;
    width: 10em;
}

#right-attack {
    float: right;
    padding: 1px;
    border: 5px solid black;
    margin: 1em 0 0 0;
    height: 10em;
    width: 10em;
}

#start-area {
    height: 50px;
    position: relative;
    border: 3px solid red;
    font-size: 2em;
    color: red;
}

#button-start {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fffcf0;;
}

#button-mute,#button-unmute {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    position: fixed;
    bottom: 10%;
    right: 1%;
    background-color: #fffcf0;;
}

#button-reset {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fffcf0;;
}

#lifetotals {
    position: fixed;
    bottom: 0;
    right: 50%;
    font-size: 3em;
    color: red;
}

#lifetotals-boss{
    position: fixed;
    top: 0;
    right: 30%;
    font-size: 3em;
    color: red;
}

#lifetotals-player{
    position: fixed;
    top: 0;
    left: 30%;
    font-size: 3em;
    color: green;
}

/* Images */ 
#opponent{
    display: block;
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-47%, -50%);
}

#opponent-2{
    display: block;
    position: absolute;
    height: 77%;
    width: 47%;
    top: 61%;
    left: 48%;
    transform: translate(-47%, -50%);
}

#sword-right{
    transform: scaleX(-1);
}

.hidden{
    display: none;
}



/* Media Queries */
@media screen and (min-width: 1200px) {
    #left-attack {
        float: left;
        padding: 8em;
        border: 5px solid black;
        margin: 19em 0 0 0;
        height: 23em;
    }
    
    #right-attack {
        float: right;
        padding: 8em;
        border: 5px solid black;
        margin: 19em 0 0 0;
        height: 23em;
    }
    #start-area {
    height: 200px;
    position: relative;
    border: 3px solid red;
    font-size: 2em;
    color: red;
}
    #button-mute,#button-unmute {
    position: fixed;
    bottom: 87%;
    right: 1%;
}

}