@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto+Slab&display=swap');

body {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    background-image: url(../images/arena-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/* Images */
#opponent {
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    width: 20%;
    margin-right: -50%;
    transform: translate(-47%, -50%);
}

#opponent-2 {
    display: block;
    position: absolute;
    height: 48%;
    width: 98%;
    top: 71%;
    left: 50%;
    transform: translate(-47%, -50%);
}

#sword-left {
    transform: rotate(38deg);
    height: 150px;
}

#sword-right {
    height: 150px;
}

/* Game areas */

#intro-tutorial {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #fffcf0;
}

#fight-exp {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12px;
    color: #fffcf0;
}

#fight-exp-boss {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    color: #fffcf0;
}

#flash-msg {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: red;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0%;
}

#winner {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #fffcf0;
}

#loser {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #fffcf0;
}

#left-attack {
    float: left;
    padding: 1px;
    margin: 1em 0 0 0;
    height: 10em;
    width: 5em;
}

#right-attack {
    float: right;
    padding: 1px;
    margin: 1em 0 0 0;
    height: 10em;
    width: 5em;
}

#start-area {
    height: 100px;
    width: 100px;
    position: relative;
    font-size: 2em;
}

#button-start {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fffcf0;
    ;
}

#button-mute,
#button-unmute {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fffcf0;
    ;
}

#button-reset {
    font-family: MedievalSharp, sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fffcf0;
    ;
}

#lifetotals {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 5%;
    font-size: 20px;
    color: red;
}

#lifetotals-boss {
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 1em;
    color: red;
}

#lifetotals-player {
    position: fixed;
    bottom: 1%;
    left: 1%;
    font-size: 1em;
    color: green;
}

#hits {
    font-size: 1em;
}

.hidden {
    display: none;
}


/* Media Queries */
@media screen and (min-width: 600px) {
    #lifetotals-boss, #lifetotals-player {
        font-size: 2em;
    }
}

@media screen and (min-width: 800px) {
    #opponent-2 {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    #opponent {
        display: block;
        position: absolute;
        top: 60%;
        left: 50%;
        width: 20%;
        margin-right: -50%;
        transform: translate(-47%, -50%);
    }

    #left-attack {
        float: left;
        padding: 8em;
        margin: 19em 0 0 0;
        height: 23em;
    }

    #right-attack {
        float: right;
        padding: 8em;
        margin: 19em 0 0 0;
        height: 23em;
    }

    #start-area {
        height: 200px;
        position: relative;
        font-size: 2em;
        color: red;
    }
}